div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
div:hover {
  background: coral;
}
.one {
  background: red;
  transform: translate(20px);
}
.two {
  background: blue;
  transform: rotate(380deg);
}
.three {
  background: green;
  transition-property: background, border-radius;
  transition-duration: 4s, 2s;
}
.three:hover {
  border-radius: 50%;
}
